/**
 * Syntax highlighting styles
 */

pre, code {
  font-family: $monospace-font-family;
  color: $grey-color-light;
  background-color: #F7F5D7;
  font-size: ($base-font-size - 2);
}
code {
  background: #F7F5D7;
  color: $grey-color-light;
  word-break: break-all;
  white-space: normal;
  border-radius: 0;
}
pre { // only apply for code blocks
  overflow: auto;
  display: block;
  padding: 0.4em;
  margin: 0;
  line-height: $base-line-height * 0.925;
  word-break: break-all;
  word-wrap: break-word;
  border: 0;
  border-radius: 0;
  font-weight: bold;
}
pre code {
  background: transparent;
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
  color: $grey-color-light;
  span {
    word-break: break-all;
  }
}
.highlight {
  pre code { color: $grey-color-light; }
  table { margin: 0; }
  .code { width: 99%; }
  .lineno { border-right: 2px solid $grey-color-light }
  .hll { background-color: #515151 }
  .c { color: $grey-color } /* Comment */
  .err { color: #f23539 } /* Error */
  .k { color: #8541b7 } /* Keyword */
  .l { color: #f9651f } /* Literal */
  .n { color: $grey-color-dark } /* Name */
  .o { color: #1187CC } /* Operator */
  .p { color: $grey-color-dark } /* Punctuation */
  .cm { color: $grey-color } /* Comment.Multiline */
  .cp { color: $grey-color } /* Comment.Preproc */
  .c1 { color: $grey-color } /* Comment.Single */
  .cs { color: $grey-color } /* Comment.Special */
  .gd { color: #f23539 } /* Generic.Deleted */
  .ge { font-style: italic } /* Generic.Emph */
  .gh { color: $grey-color-dark; font-weight: bold } /* Generic.Heading */
  .gi { color: #99cc99 } /* Generic.Inserted */
  .gp { color: $grey-color; font-weight: bold } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #1187CC; font-weight: bold } /* Generic.Subheading */
  .kc { color: #8541b7 } /* Keyword.Constant */
  .kd { color: #8541b7 } /* Keyword.Declaration */
  .kn { color: #1187CC } /* Keyword.Namespace */
  .kp { color: #8541b7 } /* Keyword.Pseudo */
  .kr { color: #8541b7 } /* Keyword.Reserved */
  .kt { color: #ffbf13 } /* Keyword.Type */
  .ld { color: #43B716 } /* Literal.Date */
  .m { color: #f9651f } /* Literal.Number */
  .s { color: #43B716 } /* Literal.String */
  .na { color: #6699cc } /* Name.Attribute */
  .nb { color: $grey-color-dark } /* Name.Builtin */
  .nc { color: #ffbf13 } /* Name.Class */
  .no { color: #f23539 } /* Name.Constant */
  .nd { color: #1187CC } /* Name.Decorator */
  .ni { color: $grey-color-dark } /* Name.Entity */
  .ne { color: #f23539 } /* Name.Exception */
  .nf { color: #6699cc } /* Name.Function */
  .nl { color: $grey-color-dark } /* Name.Label */
  .nn { color: #ffbf13 } /* Name.Namespace */
  .nx { color: #6699cc } /* Name.Other */
  .py { color: $grey-color-dark } /* Name.Property */
  .nt { color: #1187CC } /* Name.Tag */
  .nv { color: #f23539 } /* Name.Variable */
  .ow { color: #1187CC } /* Operator.Word */
  .w { color: $grey-color-dark } /* Text.Whitespace */
  .mf { color: #f9651f } /* Literal.Number.Float */
  .mh { color: #f9651f } /* Literal.Number.Hex */
  .mi { color: #f9651f } /* Literal.Number.Integer */
  .mo { color: #f9651f } /* Literal.Number.Oct */
  .sb { color: #43B716 } /* Literal.String.Backtick */
  .sc { color: $grey-color-dark } /* Literal.String.Char */
  .sd { color: $grey-color } /* Literal.String.Doc */
  .s2 { color: #43B716 } /* Literal.String.Double */
  .se { color: #f9651f } /* Literal.String.Escape */
  .sh { color: #43B716 } /* Literal.String.Heredoc */
  .si { color: #f9651f } /* Literal.String.Interpol */
  .sx { color: #43B716 } /* Literal.String.Other */
  .sr { color: #43B716 } /* Literal.String.Regex */
  .s1 { color: #43B716 } /* Literal.String.Single */
  .ss { color: #43B716 } /* Literal.String.Symbol */
  .bp { color: $grey-color-dark } /* Name.Builtin.Pseudo */
  .vc { color: #f23539 } /* Name.Variable.Class */
  .vg { color: #f23539 } /* Name.Variable.Global */
  .vi { color: #f23539 } /* Name.Variable.Instance */
  .il { color: #f9651f } /* Literal.Number.Integer.Long */
}
