.profile-pic {
	float: left;
	margin-right: 1em;

	img {
		width: 9em;
	}
}

@include media-query($screen-md-min) {
	.profile-pic {
		width: 100%;
		text-align: center;
		
		img {
			width: 100%;
			max-width: 150px;
		}
	}
}