.intro {
	padding: 0;
	margin: 0;
	
	.profile-pic {
		border-radius: 2%;
		max-width: 350px;
		margin: $paragraph-margin;
	}
	
	.blurb { padding-right: 0; }
	.blurb, .profile-pic { 
		padding-left: 0; 
	}
}


