a {
  text-decoration: none;
  color: $primary;
}

a:hover,
a:focus {
  color: lighten($primary, 10%);
  text-decoration: none;
}

/* LAYOUT CSS */
img {
  max-width: 100%;
  height: auto;
}

#main-layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  margin: 0 auto;
  padding: 3em 0;
}

.sidebar {
  background: $background-color;
  color: $white;
  font-weight: 300;
  font-size: $small-font-size;
  span {opacity: 0.5;}
  .social-links {
    margin-top: 0.5em;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
        margin-left: 1em;
        font-size: 80%;
        a.social-link-item {
          color: $secondary;
          &:hover,
          &:focus {
            background: none;
          }
        }
      }
    }
  }
}

.brand-title,
.brand-tagline {
  margin: 0;
}

a.brand-title {
  color: $white;
  font-size: 2.1em;
  font-family: $heading-font-family;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1em;
  outline: none;
}

.brand-tagline {
  display: block;
  margin-top: 3%;
  line-height: 1.5em;
  font-size: 0.9em;
}

.nav {
  margin-top: 0.725em;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
  
  a {
    background: transparent;
    color: $secondary;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-size: 85%;
    
    &:hover {
      color: lighten($secondary, 10%);
    }
  }
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 2em 0;
}

section.post {
  padding-bottom: $base-font-size;
  margin: $base-font-size auto;
}


a.post-title {
  color: $title-color;
  
  &:hover {
  	color: lighten($title-color, 10%);
  }
}

.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}

a.post-author {
  color: $secondary;
}

.post-description,
.post-content {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.post-meta {
  color: #999;
  font-size: 60%;
  margin: 1em 0 0;
  opacity: 1;
}

a.post-tag {
  text-transform: capitalize;
  margin: 0.3em;
  padding: 0.3em 1em;
  color: $white;
  background-color: $primary;
  font-size: 80%;
  display: inline-block;
}

.post-images {
  margin: 1em 0;
}

.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

// share buttons
.share-icons {
  margin-top: 2em;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: .5em;
      span {
        display: none;
        @include media-query($screen-sm-min) {
          display: inline;
          margin: .5em;
        }
      }
    }
  }
}

.twitter {
  background-color: #77BCF1;
  color: $white;
  border-color: #77BCF1;
  &:visited {
    color: $white;
    border-color: #77BCF1;
  }
  &:hover {
    background-color: $white;
    color: #77BCF1;
    border-color: #77BCF1;
  }
}

.facebook {
  background-color: #627AAC;
  color: $white;
  border-color: #627AAC;
  &:visited {
    color: $white;
    border-color: #627AAC;
  }
  &:hover {
    background-color: $white;
    color: #627AAC;
    border-color: #627AAC;
  }
}

.reddit {
  background-color: #E36F60;
  color: $white;
  border-color: #E36F60;
  &:visited {
    color: $white;
    border-color: #E36F60;
  }
  &:hover {
    background-color: $white;
    color: #E36F60;
    border-color: #E36F60;
  }
}

// footer
footer {
  text-align: center;
  padding: 3em 0;
  font-size: $tiny-font-size;
}

.related-articles {
  h4 {
    font-family: $base-font-family;
    font-size: $small-font-size;
    margin-bottom: 0.5em;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@include media-query($screen-md-min) {
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }

  .sidebar {
    padding-right: 3em;
  }

  .header {
    margin: 50% 0 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
