ul.tag-cloud {
  padding: 2em 0 3em;
  margin: 0;
  overflow: hidden;
  list-style: none;

  li {
    display: inline-block;
    a.post-tag {
      border-radius: 0.2em;
      margin: 5px;
    }
  }
}

.tag-list {
  .tag-group {
    margin-bottom: 2em;
    .tag-group-title {
      color: $title-color;
      text-transform: uppercase;
    }

    .tag-item {
      padding-left: 1em;
      margin-bottom: .5em;
      font-size: $base-font-size;
    }
  }
}
